asammdf==7.4.2
beautifulsoup4==4.14.3
bitstruct==8.19.0
canmatrix==1.0
cantools==39.4.5
decord==0.6.0
fiona==1.9.5
folium==0.20.0
fsspec==2023.10.0
fxpmath==0.4.9
geopandas==0.14.1
geopy==2.4.1
h5py==3.10.0
isodate==0.7.2
joblib==1.3.2
lxml==5.1.0
macaddress==2.0.2
mdf_iter==2.1.1
more_itertools==10.8.0
moviepy==2.1.1
natsort==8.4.0
numba==0.59.1
numpy==2.4.1
opencv_python==4.10.0.84
openpyxl==3.1.2
osmium==4.2.0
overpy==0.7
pandas==3.0.0
psutil==5.9.6
PyQt4==4.11.4
PyQt5==5.15.11
PyQt5_sip==12.13.0
pyquaternion==0.9.9
pyts==0.13.0
PyYAML==6.0.1
PyYAML==6.0.3
ray==2.8.1
sbp==6.2.2
scapy==2.6.1
scipy==1.17.0
setuptools==80.9.0
Shapely==2.1.2
sip==6.7.12
SQLAlchemy==2.0.23
statsmodels==0.14.4
termcolor==3.3.0
tqdm==4.66.1
XlsxWriter==3.1.9
